In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
# Send a GET request to the Wikipedia page
url = 'https://en.wikipedia.org/wiki/List_of_Bellator_MMA_events'
response = requests.get(url)

# Create a BeautifulSoup object with the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

# Find the events table on the page
events_table = soup.find('table', class_='wikitable')

In [21]:
headers = [th.text.strip() for th in events_table.find_all("th", scope="col")[1:]]

In [27]:
events_table.find_all("tr")[1:][-1].find('th').text.strip()

'1'

In [33]:
rows = []
for tr in events_table.find_all('tr')[1:]:
    row = [tr.find('th').text.strip()]  if tr.find('th') != None else []
    for td in tr.find_all('td'):
        row.append(td.text.strip())
    rows.append(row)

In [36]:
headers

['Event', 'Date', 'Venue', 'Location', 'Attendance']

In [43]:
headers = ["EventID", *headers]

In [45]:
df = pd.DataFrame(rows, columns=headers)

In [46]:
df

,EventID,Event,Date,Venue,Location,Attendance
0,305,Bellator 299,"September 23, 2023",3Arena,"Dublin, Ireland",None
1,304,Bellator 298,"August 11, 2023",Sanford Pentagon,"Sioux Falls, South Dakota, U.S.",
2,303,Bellator MMA x Rizin 2,"July 30, 2023",Saitama Super Arena,"Saitama, Japan",
3,302,Bellator 297,"June 16, 2023",Wintrust Arena,"Chicago, Illinois, U.S.",
4,301,Bellator 296,"May 12, 2023",Accor Arena,"Paris, France",
...,...,...,...,...,...,...
312,5,Bellator 5,"May 1, 2009",Hara Arena,"Dayton, Ohio, U.S.",
313,4,Bellator 4,"April 17, 2009",Lloyd Noble Center,"Norman, Oklahoma, U.S.","3,850"
314,3,Bellator 3,"4,297",None,None,None
315,2,Bellator 2,"April 10, 2009",Mohegan Sun Arena,"Uncasville, Connecticut, U.S.","1,283"
316,1,Bellator 1,"April 3, 2009",Seminole Hard Rock Hotel & Casino,"Hollywood, Florida, U.S.","1,756"